

{{#if arts}}
<h3>Showing all the existing drops made by you!</h3>

{{!-- <form class="input-group rounded" action="/search" method="POST">
    <input type="search" name="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
    <button class="input-group-text border-0" name="search" id="search-addon">
      <i class="fas fa-search"></i>
    </button>
    {{ message }}
</form> --}}

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
     {{#each arts}}
    <div class="card me-3 mt-3" style="width: 18rem;">
        <img src="/{{ img }}" alt="sample image">
        <div class="card-body d-flex flex-column align-items-stretch">
            <h5 class="card-title">{{ title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">by {{ user }}</h6>
            {{#if tag}}
            <p class="imgTag">Tag: {{tag}}</p>
            {{/if}}
            <div class="mt-auto">
              <a href="#" class="btn btn-primary">Buy ${{ price }}.00</a>
              <a href="/delete?title={{title}}" class="btn btn-secondary">Delete</a>
            </div>
            
        </div>
    </div>
     {{/each}}
</div>
{{else}}
<h5>Currently, no art available..</h5>
<h3>Start adding some drops</h3>
<form class="form-vertical" id="art_form" method="POST" action="/add" role="form" data-confirm="Ready to submit?">

<label for="title" class="form-label">Give it a title</label><br>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Title</span>
  <input type="text" name="name" class="form-control" placeholder="Cool drop" aria-label="Username" aria-describedby="basic-addon1">
</div>

<label for="fileId" class="form-label">Upload your drop</label>
<div class="input-group mb-3">
  <input type="file" name="fileId" class="form-control" id="customFile">
  <label class="input-group-text" name="fileId" for="inputGroupFile02">Upload</label>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">$</span>
  <input type="text" class="form-control" name="price" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">.00</span>
</div>

<div class="input-group">
  <span class="input-group-text">Tags</span>
  <textarea class="form-control" name="tag" aria-label="With textarea"></textarea>
</div>

<div class="input-group">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" name="public" for="flexCheckDefault">
    Keep it private please!
  </label>
</div>
</div>

<button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>
{{/if}}